parameters:
	ignoreErrors:
		-
			message: "#^Call to method assignMultiple\\(\\) on an unknown class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView\\.$#"
			count: 1
			path: Classes/Backend/ToolbarItems/ProjectStatusItem.php

		-
			message: "#^Call to method setTemplatePathAndFilename\\(\\) on an unknown class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView\\.$#"
			count: 1
			path: Classes/Backend/ToolbarItems/ProjectStatusItem.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView not found\\.$#"
			count: 1
			path: Classes/Backend/ToolbarItems/ProjectStatusItem.php

		-
			message: "#^Call to method getController\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\AfterCacheableContentIsGeneratedEvent\\.$#"
			count: 2
			path: Classes/EventListener/AfterCacheableContentIsGeneratedEventListener.php

		-
			message: "#^Call to method getRequest\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\AfterCacheableContentIsGeneratedEvent\\.$#"
			count: 1
			path: Classes/EventListener/AfterCacheableContentIsGeneratedEventListener.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Classes/EventListener/AfterCacheableContentIsGeneratedEventListener.php

		-
			message: "#^Parameter \\$event of method Xima\\\\XimaTypo3Toolbox\\\\EventListener\\\\AfterCacheableContentIsGeneratedEventListener\\:\\:__invoke\\(\\) has invalid type TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\AfterCacheableContentIsGeneratedEvent\\.$#"
			count: 1
			path: Classes/EventListener/AfterCacheableContentIsGeneratedEventListener.php

		-
			message: "#^Strict comparison using \\=\\=\\= between TYPO3\\\\CMS\\\\Core\\\\Site\\\\Entity\\\\Site and null will always evaluate to false\\.$#"
			count: 1
			path: Classes/EventListener/AfterCacheableContentIsGeneratedEventListener.php

		-
			message: "#^Call to method getToolbarItem\\(\\) on an unknown class TYPO3\\\\CMS\\\\Backend\\\\Backend\\\\Event\\\\SystemInformationToolbarCollectorEvent\\.$#"
			count: 1
			path: Classes/EventListener/LastDeploymentEventListener.php

		-
			message: "#^Parameter \\$systemInformation of method Xima\\\\XimaTypo3Toolbox\\\\EventListener\\\\LastDeploymentEventListener\\:\\:__invoke\\(\\) has invalid type TYPO3\\\\CMS\\\\Backend\\\\Backend\\\\Event\\\\SystemInformationToolbarCollectorEvent\\.$#"
			count: 1
			path: Classes/EventListener/LastDeploymentEventListener.php
