<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="project-status">
    .topbar-header-project-status__context, .topbar-header-project-status__version {
        display: inline-block;
        padding: 13.5px;
    }
</f:asset.css>

    <div class="topbar-header-project-status">
        <f:if condition="{version}">
            <div class="topbar-header-project-status__version"  title="Project version"><core:icon identifier="actions-tag" size="small" /> {version}</div>
        </f:if>
        <div class="topbar-header-project-status__context" data-context="{context}" title="Application context" style="background-color:{color};"><core:icon identifier="information-application-context" size="small" /> {context}</div>
    </div>
</html>
