<style nonce="{f:security.nonce()}">
    .technical-context {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin: 0.25rem;
        padding: 0.5rem;
        background-color: #f39c12;
        color: #ffffff;
        font-size: 12px;
        font-family: "Monaco", monospace;
    }
    .technical-context__close {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.75rem;
        height: 1.75rem;
        border: 0;
        border-radius: 2rem;
        font-size: inherit;
        opacity: 0.5;
        margin: 0;
        padding: 0;
    }
    .technical-context__close:hover {
        opacity: 1;
        cursor: pointer;
    }
    .technical-context__close::after {
        content: "\2715";
    }
</style>

<div
    class="technical-context"
    data-context="{context}"
    aria-hidden="true"
    style="background-color:{color};"
    title="This is part of the feature branch deployment and shows the actual site name of the website. This hint will not be displayed in production context."
>
    {title}
    <button
        type="button"
        class="technical-context__close"
        tabindex="-1"
        onclick="this.parentElement.remove()"
        aria-label="Close context hint"
    ></button>
</div>
